# Bitcoin (BTC) - First Crypto

## Data visualization

The API used for this dataset of the project is available at: https://pypi.org/project/yfinance/

Accessed date: 20/09/2024

In [ ]:
!pip install yfinance ta pycaret

In [42]:
import yfinance as yf
import pandas as pd

In [43]:
# Fetch historical data for BTC-USD
btc_df = yf.download('BTC-USD', start='2014-01-01', end='2024-01-01').reset_index()

btc_df.head()

[*********************100%***********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100

## Data Cleaning

In [44]:
from ta import add_all_ta_features

btc_df = add_all_ta_features(btc_df, open="Open", high="High", low="Low", close="Close", volume="Volume", fillna=True)

In [45]:
btc_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,volume_adi,volume_obv,volume_cmf,...,momentum_ppo,momentum_ppo_signal,momentum_ppo_hist,momentum_pvo,momentum_pvo_signal,momentum_pvo_hist,momentum_kama,others_dr,others_dlr,others_cr
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800,-7.924336e+06,21056800,-0.376331,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,457.334015,0.000000,0.000000,0.000000
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200,-2.454020e+07,-13426400,-0.441847,...,-0.576839,-0.115368,-0.461471,4.857081,0.971416,3.885665,441.769044,-7.192558,-7.464335,-7.192558
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700,-4.448391e+07,-51346100,-0.475969,...,-1.557290,-0.403752,-1.153538,9.351817,2.647496,6.704321,420.210282,-6.984265,-7.240151,-13.674475
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600,-3.937687e+07,-14482500,-0.302148,...,-2.067514,-0.736505,-1.331009,12.071627,4.532323,7.539305,414.895173,3.573492,3.511124,-10.589639
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100,-5.037763e+07,-41062600,-0.321074,...,-2.636293,-1.116462,-1.519831,10.907564,5.807371,5.100193,407.681005,-2.465854,-2.496766,-12.794369

In [46]:
btc_df = btc_df.drop(['Date', 'others_dr', 'others_dlr', 'others_cr'], axis=1)

In [47]:
btc_df['next'] =  btc_df['Close'].shift(-1)

In [48]:
btc_df = btc_df.dropna()

In [49]:
btc_df

,Open,High,Low,Close,Adj Close,Volume,volume_adi,volume_obv,volume_cmf,volume_fi,...,momentum_ao,momentum_roc,momentum_ppo,momentum_ppo_signal,momentum_ppo_hist,momentum_pvo,momentum_pvo_signal,momentum_pvo_hist,momentum_kama,next
0,465.864014,468.174011,452.421997,457.334015,457.334015,21056800,-7.924336e+06,21056800,-0.376331,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,457.334015,424.440002
1,456.859985,456.859985,413.104004,424.440002,424.440002,34483200,-2.454020e+07,-13426400,-0.441847,-1.134291e+09,...,0.000000,0.000000,-0.576839,-0.115368,-0.461471,4.857081,0.971416,3.885665,441.769044,394.795990
2,424.102997,427.834991,384.532013,394.795990,394.795990,37919700,-4.448391e+07,-51346100,-0.475969,-1.132834e+09,...,0.000000,0.000000,-1.557290,-0.403752,-1.153538,9.351817,2.647496,6.704321,420.210282,408.903992
3,394.673004,423.295990,389.882996,408.903992,408.903992,36863600,-3.937687e+07,-14482500,-0.302148,-8.967045e+08,...,0.000000,0.000000,-2.067514,-0.736505,-1.331009,12.071627,4.532323,7.539305,414.895173,398.821014
4,408.084991,412.425995,393.181000,398.821014,398.821014,26580100,-5.037763e+07,-41062600,-0.321074,-8.068905e+08,...,0.000000,0.000000,-2.636293,-1.116462,-1.519831,10.907564,5.807371,5.100193,407.681005,402.152008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3387,43599.847656,43603.175781,41676.488281,42520.402344,42520.402344,30026850982,4.393952e+12,1366965219321,0.021877,-1.806660e+12,...,2083.031457,-1.170441,2.336257,2.876434,-0.540177,0.558406,0.045726,0.512680,43012.803157,43442.855469
3388,42518.468750,43683.160156,42167.582031,43442.855469,43442.855469,25260941032,4.411203e+12,1392226160353,0.077965,1.780296e+12,...,1721.187201,3.608649,2.245902,2.750328,-0.504426,1.509599,0.338501,1.171098,43038.618329,42627.855469
3389,43468.199219,43804.781250,42318.550781,42627.855469,42627.855469,22992093014,4.397781e+12,1369234067339,0.031168,-1.150969e+12,...,1443.191602,0.917938,1.997916,2.599846,-0.601929,1.436597,0.558120,0.878477,43036.887304,42099.402344
3390,42614.644531,43124.324219,41424.062500,42099.402344,42099.402344,26000021055,4.392435e+12,1343234046284,0.046627,-2.949372e+12,...,1091.866441,1.776246,1.682573,2.416391,-0.733818,2.400907,0.926677,1.474230,43030.890873,42156.902344
3391,42091.753906,42584.125000,41556.226562,42156.902344,42156.902344,16013925945,4.395137e+12,1359247972229,0.056540,-2.396490e+12,...,718.149081,-1.094786,1.427058,2.218525,-0.791467,-0.356528,0.670036,-1.026564,42983.395730,42265.187500

## Building Model

In [50]:
from pycaret.regression import *
s = setup(btc_df, target = 'next', session_id = 123)

In [51]:
best = compare_models()

In [52]:
best = create_model('br')
final_btc_model = finalize_model(best)

In [53]:
save_model(final_btc_model, model_name='eth_br_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['Open', 'High', 'Low', 'Close',
                                              'Adj Close', 'Volume',
                                              'volume_adi', 'volume_obv',
                                              'volume_cmf', 'volume_fi',
                                              'volume_em', 'volume_sma_em',
                                              'volume_vpt', 'volume_vwap',
                                              'volume_mfi', 'volume_nvi',
                                              'volatility_bbm', 'volatility_bbh',
                                              'volatility_bbl', 'volatility_bbw',
                                              'volatil...
                                              'volatility_kcc', 'volatility_kch',
                                              'volatility_kcl', 'volatility_kcw',
                                              'volatility_kcp',
                                              'volatility_kchi',
                                              'volatility_kcli', ...],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=[],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('clean_column_names',
                  TransformerWrapper(transformer=CleanColumnNames())),
                 ('actual_estimator', BayesianRidge())]),
 'eth_br_model.pkl')

# Ethereum (ETH) - Second Crypto

## Data Visualization

In [54]:
# Fetch historical data for BTC-USD
eth_df = yf.download('ETH-USD', start='2014-01-01', end='2024-01-01').reset_index()

eth_df.head()

[*********************100%***********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-11-09,308.644989,329.451996,307.056000,320.884003,320.884003,893249984
1,2017-11-10,320.670990,324.717987,294.541992,299.252991,299.252991,885985984
2,2017-11-11,298.585999,319.453003,298.191986,314.681000,314.681000,842300992
3,2017-11-12,314.690002,319.153015,298.513000,307.907990,307.907990,1613479936
4,2017-11-13,307.024994,328.415009,307.024994,316.716003,316.716003,1041889984

In [55]:
eth_df.shape

(2244, 7)

## Data Cleaning

In [56]:
eth_df = add_all_ta_features(eth_df, open="Open", high="High", low="Low", close="Close", volume="Volume", fillna=True)

In [57]:
eth_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,volume_adi,volume_obv,volume_cmf,...,momentum_ppo,momentum_ppo_signal,momentum_ppo_hist,momentum_pvo,momentum_pvo_signal,momentum_pvo_hist,momentum_kama,others_dr,others_dlr,others_cr
0,2017-11-09,308.644989,329.451996,307.056000,320.884003,320.884003,893249984,2.097921e+08,893249984,0.234864,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,320.884003,0.000000,0.000000,0.000000
1,2017-11-10,320.670990,324.717987,294.541992,299.252991,299.252991,885985984,-3.995582e+08,7264000,-0.224567,...,-0.540448,-0.108090,-0.432358,-0.064911,-0.012982,-0.051928,311.027107,-6.741069,-6.979036,-6.741069
2,2017-11-11,298.585999,319.453003,298.191986,314.681000,314.681000,842300992,6.463645e+07,849564992,0.024656,...,-0.572861,-0.201044,-0.371817,-0.507515,-0.111889,-0.395627,312.583297,5.155507,5.027009,-1.933098
3,2017-11-12,314.690002,319.153015,298.513000,307.907990,307.907990,1613479936,-7.998539e+07,-763914944,-0.018887,...,-0.762634,-0.313362,-0.449272,5.726172,1.055723,4.670449,310.579183,-2.152342,-2.175842,-4.043833
4,2017-11-13,307.024994,328.415009,307.024994,316.716003,316.716003,1041889984,-1.777932e+08,277975040,-0.033693,...,-0.680827,-0.386855,-0.293972,5.641101,1.972799,3.668302,313.070974,2.860599,2.820448,-1.298912

In [58]:
eth_df = eth_df.drop(['Date', 'others_dr', 'others_dlr', 'others_cr'], axis=1)
eth_df['next'] =  eth_df['Close'].shift(-1)
eth_df = eth_df.dropna()

In [59]:
eth_df.head()

,Open,High,Low,Close,Adj Close,Volume,volume_adi,volume_obv,volume_cmf,volume_fi,...,momentum_ao,momentum_roc,momentum_ppo,momentum_ppo_signal,momentum_ppo_hist,momentum_pvo,momentum_pvo_signal,momentum_pvo_hist,momentum_kama,next
0,308.644989,329.451996,307.056000,320.884003,320.884003,893249984,2.097921e+08,893249984,0.234864,0.000000e+00,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,320.884003,299.252991
1,320.670990,324.717987,294.541992,299.252991,299.252991,885985984,-3.995582e+08,7264000,-0.224567,-1.916477e+10,...,0.0,0.0,-0.540448,-0.108090,-0.432358,-0.064911,-0.012982,-0.051928,311.027107,314.681000
2,298.585999,319.453003,298.191986,314.681000,314.681000,842300992,6.463645e+07,849564992,0.024656,-1.457052e+10,...,0.0,0.0,-0.572861,-0.201044,-0.371817,-0.507515,-0.111889,-0.395627,312.583297,307.907990
3,314.690002,319.153015,298.513000,307.907990,307.907990,1613479936,-7.998539e+07,-763914944,-0.018887,-1.405017e+10,...,0.0,0.0,-0.762634,-0.313362,-0.449272,5.726172,1.055723,4.670449,310.579183,316.716003
4,307.024994,328.415009,307.024994,316.716003,316.716003,1041889984,-1.777932e+08,277975040,-0.033693,-1.073201e+10,...,0.0,0.0,-0.680827,-0.386855,-0.293972,5.641101,1.972799,3.668302,313.070974,337.631012

## Building Model

In [60]:
s_eth = setup(eth_df, target = 'next', session_id = 123)

In [61]:
best_eth = compare_models()

In [62]:
best_eth_model = create_model('br')
final_eth_model = finalize_model(best_eth_model)

In [64]:
save_model(final_eth_model, model_name='eth_final_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['Open', 'High', 'Low', 'Close',
                                              'Adj Close', 'Volume',
                                              'volume_adi', 'volume_obv',
                                              'volume_cmf', 'volume_fi',
                                              'volume_em', 'volume_sma_em',
                                              'volume_vpt', 'volume_vwap',
                                              'volume_mfi', 'volume_nvi',
                                              'volatility_bbm', 'volatility_bbh',
                                              'volatility_bbl', 'volatility_bbw',
                                              'volatil...
                                              'volatility_kcc', 'volatility_kch',
                                              'volatility_kcl', 'volatility_kcw',
                                              'volatility_kcp',
                                              'volatility_kchi',
                                              'volatility_kcli', ...],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=[],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('clean_column_names',
                  TransformerWrapper(transformer=CleanColumnNames())),
                 ('actual_estimator', BayesianRidge())]),
 'eth_final_model.pkl')